* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #15233a;
}

header {
  padding: 15px;
}

h1 {
  color: white;
}

a {
  color: #10a5dc;
  text-decoration: none;
}

a:visited {
  color: #10a5dc;
}

button {
  margin: 0 auto;
  color: #FFF;
  background-color: #10a5dc;
  border-radius: 5px;
  border: none;
  display: block;
  margin: 10px 0;
  padding: 15px 15px;
  width: 100%;
}

.applicationNames {
  margin-bottom: 0;
}

.ButtonContainer {
  display: block;
  position: fixed;
  bottom: 0;
  padding: 5px 10px;
  width: auto;
}

#closeModalButton {
  background-color: white;
  border-radius: 10px;
  color: #10a5dc;
  font-size: 18px;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1125px;
  min-height: 87vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.envelope {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 15px 15px;
}

.envelope > p {
  color: #FFF;
  padding: 5px 5px;
  margin: 16px 16px;
}

#envelopeImg {
  width: 200px;
  margin: 5px;
}
#envelopeImg:hover {
  background-color: #16344b;
}

.link {
  cursor: pointer;
}

/* scrolling list in modal */
.img-with-text {
    vertical-align: top;
    display: inline-block;
    text-align: justify;
    margin: 0 20px 0 0;
    font-size: 11px;
    text-align: center;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

.img-with-text > p{
  max-width: 70px;
}

/* Toggle this depending upon whether you want to see the scrollbar */
::-webkit-scrollbar {
    display: none;
}



/* Layout 3 blocks in modal */
.ReactModal__Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.airdrop > p {
  font-size: 12px;
  color: black;
}

.airdrop > img {
  margin: 0 15px 0 0;
  float: left;
}




@media only screen
and (min-device-width : 320px)
and (max-device-width : 1125px)
and (orientation : portrait) {
  .ButtonContainer {
    width: 100%;
  }

  .scrollRow {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .horizontal-scroll-wrapper {
    -webkit-overflow-scrolling: touch;
    margin: 15px 0;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .internal {
    display: inline;
  }
}
